{
    "server": false,
    "datacenter": "#",
    "data_dir": "/var/consul",
    "encrypt": "#",
    "log_level": "INFO",
    "enable_syslog": true,
    "leave_on_terminate": true,
    "start_join": [
            "10.11.13.35",
            "10.11.13.36",
            "10.11.13.37"
    ]
}